@model IEnumerable<BibliotekaOnline.Models.Ksiazka>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista książek</h1>

<p>
    <a asp-action="Create">Nowa książka</a>

</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataWydania)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nazwa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Autor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataWydania)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opis)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.KsiazkaID" class="btn btn-primary">Edycja książki</a>
                    <br/>

                    <a asp-action="Delete" asp-route-id="@item.KsiazkaID" class="btn btn-danger">Usunięcie książki</a>

                    <form asp-controller="Ksiazka" asp-action="Rezerwacja" asp-route-id="@item.KsiazkaID" method="post">
                        <input type="submit" value="Rezerwacja książki" class="btn btn-success" />
                    </form>

                    <form asp-controller="Ksiazka" asp-action="ListaRezerwacji" asp-route-id="@item.KsiazkaID" method="post">
                        <input type="submit" value="Lista Rezerwacji" class="btn btn-info" />
                    </form>

                    
                </td>
            </tr>
        }
    </tbody>
</table>
