@model IEnumerable<BibliotekaOnline.Models.Rezerwacja>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista rezerwacji</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataRezerwacji)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ksiazka)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataRezerwacji)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ksiazka.Nazwa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RezerwacjaID" class="btn btn-primary">Edycja rezerwacji</a> |
                <a asp-action="Delete" asp-route-id="@item.RezerwacjaID" class="btn btn-danger">Usunięcie rezerwacji</a>
            </td>
        </tr>
}
    </tbody>
</table>
